<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>CardsUI</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tachyons@4.11/css/tachyons.min.css" />

	<script src="https://cdn.jsdelivr.net/npm/ramda@0.26/dist/ramda.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react@16.9/umd/react.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom@16.9/umd/react-dom.development.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/prop-types@15.7/prop-types.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/react-dom-factories@1.0/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/seamless-immutable@7.1/seamless-immutable.development.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/jmthompson2015/react-components/dist/react-components.js"></script>

	<script src="CardsUI.viewtest.js" type="module"></script>
</head>
<body>
	<div id="panel"></div>
</body>

</html>